<!DOCTYPE html>
<html>
<head>
  <title>Borisify: Music for Only Me</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= flash[:messages] %>

<% if logged_in? %>
  <nav>
    <p>Logged in as: <%= current_user.email %></p>
  <%= button_to "Logout", session_url , method: :delete %>
</nav>
<% end %>

<%= yield %>

</body>
</html>
